/* ----- AJUSTES GENERALES ----- */
* {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

*:focus {
  outline: 0;
}

/* ----- TABLA ----- */
table {
  margin: 25px auto;
  border: 1px solid darkorange;
  border-spacing: 0;
}

/* Celdas de la tabla */
td {
  width: 105px;
  height: 80px;
  padding: 0;
}

/* Cuerpo de la tabla */
tbody {
  box-shadow: 10px 10px 10px gray;
}

/* ----- PANTALLA ----- */
.calculator__screen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  height: 120px;
  width: 100%;

  background-color: black;
  border: none;

  text-align: right;
  color: white;
}

/* Pantalla de operaciones de la calculadora */
.calculator__screen--operations {
  padding: 15px;
  font-size: 90%;
}

/* Pantalla de resultados de la calculadora */
.calculator__screen--result {
  padding: 15px;
  font-size: 150%;
}

/* ----- BOTONES ----- */
input {
  background-color: lightgray;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.calculator__button,
.calculator__side-button {
  border: 1px solid rgb(65, 65, 65);
}

/* Botones centrales de la calculadora */
.calculator__button {
  transition: 0.25s;
}

/* Botones laterales de la calculadora */
.calculator__side-button {
  background-color: rgb(255, 115, 0);
  color: white;
  transition: 0.25s;
}

.calculator__button:active,
.calculator__side-button:active {
  background-color: gray;
}
